{% extends "base.html" %}
{% load  static %}
{% block content %}

<main>
    <section class="section__one">
        <form method="POST" action=".">
            {% csrf_token %}
            <div class="box">
                {{form.number_doc}}
            </div>
            <div class="box">
                {{form.adress}}
            </div>
            <div class="box">
                {{form.title}}
            </div>
            <div class="box">
                {{form.phone}}
            </div>
            <div class="box__name">
                {{form.first_name}}
                {{form.last_name}}
            </div>
            <div class="box">
                {{form.sum}}
            </div>
            <button class="box__btn">{{form.file1}}</button>
            <button class="box__btn">{{form.file2}}</button>
            <button class="box__btn">{{form.file3}}</button>
            <button type="submit" class="form__btn">Отправить</button>
        </form>
    </section>
</main>




{% endblock %}



